{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione</title>


    <link rel="stylesheet" href="{% static 'css/stile_base.css' %}">

</head>

<body>
    <h1>Registrati per prenotare</h1>

    <div class="card">
        <form method="post">
            {% csrf_token %}

            {% if form.errors %}
                <ul style="color: red;">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="form-row">
                {{ form.nome.label_tag }}
                {{ form.nome|add_class:"input_txt" }}
            </div>

            <div class="form-row">
                {{ form.email.label_tag }}
                {{ form.email|add_class:"input_txt" }}
            </div>

            <button type="submit">Registrati</button>

            <p style="text-align: center; margin-top: 1rem;">
                Sei già registrato? 
                <a href="{% url 'login_utente' %}" style="color: #556b5d; font-weight: bold; text-decoration: none;">
                    Accedi con la tua email
                </a>
            </p>

        </form>
    </div>

{% include 'lista/partials/back_to_list_btn.html' %}


</body>
</html>